@import "../../scss/mixing";
@import "../../scss/variables";

.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // gap: 3rem;
  font-size: 1.6rem;
  margin-top: 6rem;
  h2 {
    font-size: 3.5rem;
  }
  &-heading {
    font-size: 6rem;
    text-align: left;
  }

  &-sections:first-of-type,
  &-sections:nth-of-type(2) {
    width: 80%;
    max-width: 144rem;
    // height: 10rem;
    margin: 0 auto;
  }

  &-sections:not(:last-of-type) {
    margin-bottom: 7rem;
  }
}

//Top section styling

.top-section {
  display: flex;
  flex-direction: row;
  @include responsive(tab-port) {
    flex-direction: column-reverse;
  }

  &-left {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;

    @include responsive(tab-port) {
      align-items: center;
      button {
        align-self: center;
      }
      h1 {
        text-align: center;
        font-size: 4rem;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-right: 15rem;

      p {
        display: inline-block;
        padding: 3rem 0;
        margin-right: 15rem;
        font-size: 1.6rem;
        @include responsive(tab-port) {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
  &-right {
    height: 100%;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .chart-illustration {
    width: 100%;
  }
}

//End of top section styling

// Second section style
.middle-section {
  display: flex;
  @include responsive(tab-port) {
    flex-direction: column;
    h2 {
      text-align: center;
    }
  }

  &-left {
    div {
      padding-right: 15rem;
      p {
        width: 75%;
        @include responsive(tab-port) {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
.middle-section-left,
.middle-section-right {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;

  // @include responsive(tab-port) {
  // }
}
.middle-section-right-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 4rem;
  justify-content: center;

  .text-main {
    margin-left: 9rem;
  }
}

.position-label {
  display: flex;
  gap: 3rem;
  span {
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    font-size: 1.5rem;
    color: $white;
    background-color: $Bright-Red;
    border-radius: 2rem;
  }

  @include responsive(tab-port) {
    background-color: $Very-Pale-Red;
  }
}
//Second Middle Section style end

//Slider Style
.slider-section {
  // margin-bottom: -10rem !important;
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .btn {
    margin-left: calc(50% - 10rem);
    margin-top: 5rem;
  }
}

//End of slider style
.call-to-action-section {
  width: 100%;
  background-color: $Bright-Red;
  height: 10rem;
  display: flex;
  align-self: flex-end;
}

.call-to-action {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-to-action-text {
  width: 25%;
  font-weight: 700;
  font-size: 2rem;
  color: $white;
}

.btn {
  &.secondary {
    @include btn-main;
    background: $white;
    color: $Bright-Red;
  }
}
