@import "./variables";

@mixin btn-main {
  height: 3.5rem;
  width: 10rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

@mixin headings {
  color: $Very-Dark-Blue;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    //600px
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
