@import "../../scss/mixing";
@import "../../scss/variables";

.nav {
  flex: 1;
  &-desktop {
    @include responsive(tab-port) {
      display: none;
    }
  }
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
    font-weight: 400;
  }

  &-mobile {
    &-show {
      @include responsive(tab-port) {
        position: relative;
        flex: 1;
        display: block;
        position: absolute;
        top: 7rem;
        left: 0;
        bottom: 0;
        width: 100%;
      }
      .nav-container {
        margin: auto;
        height: 25rem;
        z-index: 999;
        background-color: $white;
        font-weight: 700;
        flex-direction: column;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
    }

    &-hide {
      display: none;
    }
  }

  &-links,
  :link,
  &-links:visited {
    color: $Very-Dark-Blue;
  }
  &-links:hover {
    // font-size: 3rem;
    color: lighten($Very-Dark-Blue, 50%);
  }
}
