@import "../../scss/mixing";
@import "../../scss/variables";

//Cards Styles
.card {
  height: 30rem;

  padding: 2rem;
  //   max-width: 30%;
  display: inline-block;
  &-outer-container {
    flex-direction: column;
    position: relative;
    margin-top: 3rem;
    padding: 3rem;
    background-color: $Very-Pale-Red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100%;
    h3 {
      margin-top: 2rem;
    }

    img {
      width: 8rem;
      top: -4rem;
      right: calc(50% - 4rem);
      left: auto;
      position: absolute;
    }
    p {
      text-align: center;
    }
  }
}
//End of Cards Style
.slick-dots li button:before {
  color: $Bright-Red !important;
}
